* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    background-color: brown;
    border: none;
    color: beige;
    padding: 10px;
    border-radius: 10px;
    /* text-decoration sert à enlever le soulignage du lien  */
    text-decoration: none;
    /* inline-block sert à prendre la place nécessaire */
    display: inline-block;
    text-align: center;
}

.btn-grey {
    background-color: lightgrey;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    /* text-decoration sert à enlever le soulignage du lien  */
    text-decoration: none;
    /* inline-block sert à prendre la place nécessaire */
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color:rgb(243, 201, 138);
}

.btn-red {
    background-color: brown;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    /* text-decoration sert à enlever le soulignage du lien  */
    text-decoration: none;
    /* inline-block sert à prendre la place nécessaire */
    display: inline-block;
    text-align: center;
}

.container {
    
}