* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0FFFF;
}

.btn {
    background-color: brown;
    border: none;
    color: beige;
    padding: 10px;
    border-radius: 10px;
    /* text-decoration sert à enlever le soulignage du lien  */
    text-decoration: none;
    /* inline-block sert à prendre la place nécessaire */
    display: inline-block;
    text-align: center;
}

.btn-grey {
    background-color: lightgrey;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    /* text-decoration sert à enlever le soulignage du lien  */
    text-decoration: none;
    /* inline-block sert à prendre la place nécessaire */
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color:rgb(243, 201, 138);
}

.btn-red {
    background-color: brown;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    /* text-decoration sert à enlever le soulignage du lien  */
    text-decoration: none;
    /* inline-block sert à prendre la place nécessaire */
    display: inline-block;
    text-align: center;
}

.btn-blue {
    background-color: rgba(142, 197, 255, 0.824);
    color: rgb(50, 87, 120);
    padding: 10px;
    border-radius: 10px;
    /* text-decoration sert à enlever le soulignage du lien  */
    text-decoration: none;
    /* inline-block sert à prendre la place nécessaire */
    display: inline-block;
    text-align: center;
}

.index {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkgrey;
}

.index h1 {
    color: blueviolet;
    text-align: center;
    font-size:400%;
    text-shadow: 5px 5px 4px rgb(51, 101, 210);
}

.login {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    text-align: center;
}

/* .email_mdp {
    width: 150px;
    height: 50px;
} */

@font-face {
    font-family: 'GTA';
    src: url('Anton-Regular.ttf') format('truetype');
}

.mort {
    text-align: center;
    color: rgb(216, 52, 52);
    font-family: 'GTA';
    background-color: rgba(28, 28, 28, 0.7);
    position: relative;
    top: 50%;
    transform: translateY(250%);
    font-size: 350%;
}
